html, body, fram{ height: 100%; width: 100%; margin: 0px; }

.full-size { height: 100%; width: 100%;}

.col-1 { width: 8.33333%; float: left; }

.col-2 { width: 16.66667%; float: left; }

.col-3 { width: 24.999%; float: left; }

.col-4 { width: 33.33333%; float: left; }

.col-5 { width: 41.66667%; float: left; }

.col-6 { width: 50%; float: left; }

.col-7 { width: 58.33333%; float: left; }

.col-8 { width: 66.66667%; float: left; }

.col-9 { width: 75%; float: left; }

.col-10 { width: 83.33333%; float: left; }

.col-11 { width: 91.66667%; float: left; }

.col-12 { width: 100%; float: left; }

.row-1 { height: 8.33333%; }

.row-2 { height: 16.66667%; }

.row-3 { height: 25%; }

.row-4 { height: 33.33333%; }

.row-5 { height: 41.66667%; }

.row-6 { height: 50%; }

.row-7 { height: 58.33333%; }

.row-8 { height: 66.66667%; }

.row-9 { height: 75%; }

.row-10 { height: 83.33333%; }

.row-11 { height: 91.66667%;}

.row-12 { height: 100%}

.full-height {
    height: 100%;
}

.page > div {
   height: 99%;
}

.font-color-white {
    color: #cacaca;
}

.center {
    text-align: center;
}

.font-color-golden {
    color: #fff000;
}

.main-ifram {
    box-sizing: border-box;
    padding-top: 3rem;
    padding-left: 3rem;
}

.map-tip {
    width: 15rem;
    height: 25rem;
    position: absolute;
    background-image: url("/images/home/tip-back.png");
    z-index: 99;
    background-repeat: no-repeat;
    background-size: 90% 100%;
}

.tip-head {
    height: 2.5rem;
}

.tip-body {
    height: 2.5rem;
}

.tip-body-o {
    height: 2.5rem;
}