<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/public.css" rel="stylesheet" type="text/css"/>
    <link href="css/main/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="col-12 page row-12" style="padding-top: 3rem; box-sizing: border-box;">
    <div class="col-4 full-height" style="box-sizing: border-box; padding-left: 3.5rem;">
        <div class="total_data">
            <div>
                <div class="col-2 full-height"></div>
                <div class="col-4 full-height total_item">
                    <div class="row-5 total_item_head">
                        <div class="qyzstb"></div>
                    </div>
                    <div class="row-2 total_item_body"><span>10</span></div>
                    <div class="row-4 total_item_foot">区域总数</div>
                </div>
                <div class="col-4 full-height total_item">
                    <div class="row-5 total_item_head">
                        <div class="fwqzstb"></div>
                    </div>
                    <div class="row-2 total_item_body"><span>13</span></div>
                    <div class="row-4 total_item_foot">服务区总数</div>
                </div>
                <div class="col-2 full-height">
                </div>
            </div>
            <div>
                <div class="col-4 full-height total_item">
                    <div class="row-5 total_item_head">
                        <div class="tqzstb"></div>
                    </div>
                    <div class="row-2 total_item_body"><span>17</span></div>
                    <div class="row-4 total_item_foot">台区总数</div>
                </div>
                <div class="col-4 full-height total_item">
                    <div class="row-5 total_item_head">
                        <div class="hszstb"></div>
                    </div>
                    <div class="row-2 total_item_body"><span>204</span></div>
                    <div class="row-4 total_item_foot">户数总数</div>
                </div>
                <div class="col-4 full-height total_item">
                    <div class="row-5 total_item_head">
                        <div class="gbzstb"></div>
                    </div>
                    <div class="row-2 total_item_body"><span>10300</span></div>
                    <div class="row-4 total_item_foot">公变容量</div>
                </div>
            </div>
        </div>
        <div class="total_fhqs">
            <div id="fhqst" class="full-width full-height"></div>
        </div>
        <div class="total_zfzl">wefwf</div>
    </div>
    <div class="col-5 full-height">
        <div class="total_map col-12 row-8">
            <object type="application/x-shockwave-flash" data="plugins/nbmap/nbmap.swf" width="100%" id="mapff"
                    height="100%">
                <param name="movie" value="nbmap.swf"/>
                <param name="quality" value="high"/>
                <param name="bgcolor" value="#000033"/>
                <param name="play" value="true"/>
                <param name="loop" value="true"/>
                <param name="wmode" value="transparent"/>
                <param name="scale" value="showall"/>
                <param name="menu" value="true"/>
                <param name="devicefont" value="false"/>
                <param name="salign" value=""/>
                <param name="allowScriptAccess" value="sameDomain"/>
                <embed play="true" swliveconnect="true" name="mapff" src="plugins/nbmap/nbmap.swf"
                       quality="high"
                       bgcolor="#051F36" width="550" height="400" type="application/x-shockwave-flash"
                       />
            </object>
        </div>
        <div class="total_txt col-12 row-4">
            <div id="qytdfbt" class="full-width full-height"></div>
        </div>
    </div>
    <div class="col-3 full-height">
        <div class="total_data">wefwf</div>
        <div class="total_fhqs">wefwf</div>
        <div class="total_zfzl">wefwf</div>
    </div>
</div>
<script type="text/javascript" src="plugins/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="plugins/echarts/echarts.js"></script>
<script type="text/javascript" src="javascript/main/index.js"></script>
</body>
</html>